<div class="container">
    <h2>Создание типа клиента</h2>
    <div class="row">
        {{#if infoMessages}}
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{infoMessages}}
            </div>
        {{/if}}

        {{#if errorMessages}}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{errorMessages}}
            </div>
        {{/if}}

        {{#if successMessages}}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{successMessages}}
            </div>
        {{/if}}
        <form action="/type-clients/create" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="name">Наименование:</label>
                        <input type="text"
                               id="name"
                               class="form-control"
                               name="name"
                               value="{{typeClient.name}}"/>
                    </div>

                    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>