<h2>Типы клиентов</h2>
{{#if infoMessages}}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{infoMessages}}
    </div>
{{/if}}

{{#if errorMessages}}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{errorMessages}}
    </div>
{{/if}}

{{#if successMessages}}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{successMessages}}
    </div>
{{/if}}

<a href="/type-clients/create" class="btn btn-default">Создать</a>

<table class="table">
    <thead>
    <tr>
        <th>Наименование</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each typeClients}}
        <tr>
            <td>{{this.name}}</td>
            <td>
                <a href="/type-clients/edit/{{this._id}}" title="Редактировать">
                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="modal" data-target="#modalDelete"
                   title="Удалить" onclick="setField('{{this._id}}','{{this.name}}')">
                    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<div class="modal" id="modalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Вы действительно хотите удалить данный элемент?</h4>
            </div>
            <div id="modalDeleteBody"></div>
        </div>
    </div>
</div>


<script>
    var csrfToken = '{{csrfToken}}';
    function setField(id, name) {
        var body = document.getElementById('modalDeleteBody');
        if(!body || !id || !csrfToken) return;
        body.innerHTML = '<form action="/type-clients/delete" method="post">' +
                '<input type="hidden" name="_id" value="'+id+'">'+
                '<input type="hidden" name="_csrf" value="'+csrfToken+'">'+
                '<div class="modal-body">' +
                '<strong>Наименование: </strong>'+name+'<br/>'+
                '</div>'+
                '<div class="modal-footer">'+
                '<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>'+
                '<button type="submit" class="btn btn-primary">Да</button>'+
                '</div>' +
                '</form>';
    }
</script>