<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Active Trade System</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/clients/">Карта клиента</a></li>
                <li><a href="/tickets/">Заявки</a></li>
                <!--<li><a href="/type-clients/">Типы клиентов</a></li>
                <li><a href="/type-tickets/">Типы заявок</a></li>
                <li><a href="/categories-object/">Категория объекта</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {{# if login}}
                            <li><a href="/users/profile">Настройка</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/users/logout">Выход</a></li>
                        {{ else }}
                            <li><a href="/users/signup">Регистрация</a></li>
                            <li><a href="/users/signin">Вход</a></li>
                        {{/if}}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>