<h2>Заявки</h2>

<div class="alert alert-success alert-dismissible" id="success" style="display: none;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div id="messages"></div>
</div>

<script>
    var allTickets = [] //хранится все данные об заявках</script>

<button type="button" href="#"
   data-toggle="modal"
   data-target="#modal"
   class="btn"
   onclick="clickToCreate()">Создать</button>

<table class="table table-striped table-hover" id="table">
    <thead>
    <tr>
        <th>Тип</th>
        <th>Категория</th>
        <th>Статус</th>
        <th>Дата создания</th>
        <th>Приоритет</th>
    </tr>
    </thead>
    <tbody>
    {{# each tickets}}
        <tr class="pointer" id="typeTicket_{{this._id}}"
            data-toggle="modal"
            onclick="clickOnElemTr('{{this._id}}')"
            data-target="#modal">
            <td name="type_ticketName">{{this.type_ticketName}}</td>
            <input type="hidden" name="type_ticket" value="{{this.type_ticket}}"/>
            <td name="categoryObjectName">{{this.categoryObjectName}}</td>
            <input type="hidden" name="categoryObject" value="{{this.categoryObject}}"/>
            <td name="status_ticket">{{this.status_ticket}}</td>
            <td>{{this.date_create}}</td>
            <td name="prioritet">{{this.prioritet}}</td>

            <script>
                var parameters = []
                {{#each this.parameters}}
                    parameters.push({
                        "name": '{{this.name}}',
                        "value": '{{this.value}}'
                    })
                {{/each}}

                allTickets.push({
                    id: '{{this._id}}',
                    type_ticket: '{{this.type_ticket}}',
                    type_ticketName: '{{this.type_ticketName}}',
                    categoryObject: '{{this.categoryObject}}',
                    categoryObjectName: '{{this.categoryObjectName}}',
                    client: '{{this.client}}',
                    parameters: parameters,
                    status_ticket: '{{this.status_ticket}}',
                    user_created: '{{this.user_created}}',
                    date_create: '{{this.date_create}}',
                    date_update: '{{this.date_update}}',
                    prioritet: '{{this.prioritet}}'
                })
                console.log(allTickets)
            </script>
        </tr>
    {{/each}}
    </tbody>
</table>

<div class="modal" id="modal">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Заявка</h4>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="modal-body">
                        <div class="alert alert-dismissible alert-danger" id="dangerMsg" style="display: none;">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <div id="messages"></div>
                        </div>

                        <div class="form-group" id="body">
                            <input id="_id" name="_id" type="hidden"/>

                            <div class="form-group">
                                <label class="control-label" for="type_ticket">Тип:</label>
                                <select class="form-control" name="type_ticket" id="type_ticket">
                                    {{#each typeTickets}}
                                        <option id="{{this._id}}" value="{{this._id}}"  selectionTypeTicket="{{this.selectionTypeTicket}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="categoryObject">Категория:</label>
                                <select class="form-control" name="categoryObject" id="categoryObject"
                                    onchange="visibleParametersOfCategory(event.target[event.target.selectedIndex].value)">
                                    {{#each categoriesObject}}
                                        <option id="{{this._id}}" value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>

                                <hr/>
                                <div id="parameters">
                                    <h5>Параметры:</h5>
                                    {{#each categoriesObject}}
                                        <div id="parameter_{{this._id}}" class="parameters" style="display: none;">
                                            {{#each this.parameters}}
                                                <label class="control-label" for="{{this.name}}">{{this.name}}</label>
                                                <input class="form-control parametersInput typeValidation"
                                                    name="{{this.name}}"
                                                    id="{{this.name}}"
                                                    value="{{this.value}}"
                                                    placeholder="{{this.name}}"
                                                    typeData="{{this.typeData}}"
                                                    typeField="{{this.typeField}}"
                                                    />
                                                    <div id="error" class="errorMsg"></div>
                                            {{/each}}
                                        </div>
                                    {{/each}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="clients">Клиенты:</label><br/>
                                <select class="form-control select2" id="clients" name="clients">
                                    {{#each clients}}
                                        <option id="{{this._id}}" value="{{this._id}}" >{{this.first_name}} {{this.last_name}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="prioritet">Приоритет:</label>
                                <select id="prioritet" name="prioritet" class="form-control">
                                    <option id="высокий" value="высокий">высокий</option>
                                    <option id="средний" value="средний">средний</option>
                                    <option id="низкий" value="низкий">низкий</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" id="create" class="btn btn-success" onclick="create()">Сохранить</button>
                        <button type="button" id="edit" class="btn btn-success" onclick="edit()">Сохранить</button>
                        <button type="button" id="remove" class="btn btn-danger" onclick="remove()">Удалить</button>
                    </div>
                </div>
                <div class="col-md-4" id="selection"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Добавление клиента</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="first_name">Имя:</label>
                            <input type="text"
                                   class="form-control"
                                   id="first_name"
                                   name="first_name"
                                   placeholder="Имя"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="last_name">Фамилия:</label>
                            <input type="text"
                                   class="form-control"
                                   id="last_name"
                                   name="last_name"
                                   placeholder="Фамилия"
                            />
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="mobile_number1">Мобильный номер 1:</label>
                            <input type="text"
                                   class="form-control"
                                   id="mobile_number1"
                                   name="mobile_number1"
                                   placeholder="Мобильный номер 1"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="mobile_number2">Мобильный номер 2:</label>
                            <input type="text"
                                   class="form-control"
                                   id="mobile_number2"
                                   name="mobile_number2"
                                   placeholder="Мобильный номер 2"
                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="fix_number">Фиксированный номер:</label>
                            <input type="text"
                                   class="form-control"
                                   id="fix_number"
                                   name="fix_number"
                                   placeholder="Фиксированный номер"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="email">Email:</label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="Email"
                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="gender">Пол:</label>
                            <select class="form-control" id="gender" name="gender">
                                <option value="true" selected>Муж</option>
                                <option value="false">Жен</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="birthday">Дата рождения:</label>
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text'
                                       class="form-control"
                                       name="birthday"
                                />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker2').datetimepicker({
                                        locale: 'ru',
                                        focusOnShow: true,
                                        showTodayButton: true,
                                        showClear: true,
                                        widgetPositioning: {
                                            horizontal: 'right'
                                        },
                                        defaultDate: Date.now()
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="address">Адрес проживания:</label>
                            <input id="address"
                                   class="form-control"
                                   type="text"
                                   name="address"
                                   placeholder="Адрес проживания"
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="facebook">Ссылки:</label>
                            <input id="facebook"
                                   class="form-control"
                                   type="text"
                                   name="facebook"
                                   placeholder="Facebook"
                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="type_client">Тип клиента:</label>

                            <select class="form-control" id="type_client" name="type_client">
                                {{#each typeClients}}
                                    {{#if this.selected}}
                                        <option name="type_client" value="{{this._id}}" selected>{{this.name}}</option>
                                    {{else}}
                                        <option name="type_client" value="{{this._id}}">{{this.name}}</option>
                                    {{/if}}
                                {{/each}}
                            </select>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="instagram"
                                   class="form-control"
                                   type="text"
                                   name="instagram"
                                   placeholder="Instagram"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="createClient()">Добавить</button>
            </div>
        </div>
    </div>
</div>

<script>
    var csrfToken = "{{csrfToken}}"
    var url = "/tickets/"
    var successMsg = $("#success #messages")

    function setFields(id) {
        if(!csrfToken) return

        var idInput = findElem("#modal #_id")
        if (!idInput) return

        idInput.val(id);

        var findTicket = JSLINQ(allTickets).Where(function(item){ return item.id == id})
        if (findTicket.items.length==0) return
        $("#type_ticket #"+findTicket.items[0].type_ticket)[0].selected = true
        $("#categoryObject #"+findTicket.items[0].categoryObject)[0].selected = true

        var parameters = findTicket.items[0].parameters

        for (var i=0; i<parameters.length; i++) { //вставка параметров
            var input = $("#parameters #"+parameters[i].name)
            if(input.length>0) input.val(parameters[i].value)
        }

        var client = $("#clients #"+findTicket.items[0].client)
        if (client.length==0) return console.log('элемент с запросом #clients #'+findTicket.items[0].client+' не найдено')
        $("#clients").val(findTicket.items[0].client).trigger("change");

        $("#prioritet #"+findTicket.items[0].prioritet)[0].selected=true

    }

    function visibleParametersOfCategory(idCategoryObject) {
        if (!idCategoryObject) {
            var categoryObjectSelect = $("#categoryObject");
            if (categoryObjectSelect.length == 0) return console.log("Select-Категория объекта c id=categoryObject не найдено.");
            idCategoryObject = categoryObjectSelect[categoryObjectSelect[0].selectedIndex].value;
        }

        var parametersOfCategory = $("#parameter_"+idCategoryObject);
        if (parametersOfCategory.length == 0) return console.log("Параметры c id=parameter_"+idCategoryObject+" не найдено.");

        var allParameters = $(".parameters");
        if (allParameters.length == 0) return console.log("Параметры c class='parameters' не найдено.");

        JSLINQ(parametersOfCategory).Select(function(categItem) {
            categItem.style.display = "";
            allParameters = JSLINQ(allParameters).Where(function(item){return item.id != categItem.id}).items;
        });

        JSLINQ(allParameters).Select(function(item) {
            item.style.display = "none";
        });
    }

    function getParameters(idCategoryObject) {
        var parametersData = [];
        var parameterDiv = $("#parameter_"+idCategoryObject);

        if (parameterDiv.length==0) return parametersData;

        JSLINQ(parameterDiv[0].children).Select(function(item) {
            if (item.nodeName === "INPUT") {
                var name = item.name;
                var val = item.value;

                if(name || name!="") parametersData.push({name: name, value: val});
            }
        });

        return parametersData;
    }

    function addElementTd(ticket) { //добавление элемента
        var parameters = "";
        for(var i=0; i<ticket.parameters.length; i++) {
            parameters+="<div class='parametersDiv'>" +
                    "<span id='name'><strong>"+ticket.parameters[i].name+"</strong></span>" +
                    "<span id='value'>"+ticket.parameters[i].value+"</span><br/>" +
                    "</div>";
            }
        $("#table").append(
                '<tr class="pointer" id="typeTicket_'+ticket._id+'"'+
                        'data-toggle="modal"'+
                        'onclick="hiddenElement([\'#modal #create\'], [\'#modal #edit\', \'#modal #remove\'])"'+
                        'data-target="#modal">'+
                    '<td>'+ticket.type_ticketName+'</td>'+
                    '<td>'+ticket.categoryObjectName+'</td>'+
                    '<td>'+ticket.status_ticket+'</td>'+
                    '<td>'+ticket.date_create+'</td>'+
                    '<td>'+ticket.prioritet+'</td>'+
                '</tr>'
        );
        allTickets.push(ticket)
    }

    var selection = $("#selection");
    var type_ticket_select = $("#modal select[name='type_ticket']");
    var categoryObject_select = $("#modal select[name='categoryObject']");
    var clients_select = $("#modal select[name='clients']");
    var prioritet_select = $("#modal select[name='prioritet']");

    var dangerMsg = $("#modal #dangerMsg #messages")

    function create() {
        var parameters = getParameters(categoryObject_select.val());
        var data = {
            type_ticket: type_ticket_select.val(),
            type_ticketName: type_ticket_select[0][type_ticket_select[0].selectedIndex].innerText,
            categoryObject: categoryObject_select.val(),
            categoryObjectName: categoryObject_select[0][categoryObject_select[0].selectedIndex].innerText,
            client: clients_select.val(),
            prioritet: prioritet_select.val(),
            parameters: JSON.stringify(parameters),
            _csrf: csrfToken
        };

        var settings = setSettings(url+"create", data, "POST")

        $.ajax(settings).done(function(response) {
            var ticket = response.ticket
            if (ticket) {
                $("#modal").modal("toggle")

                addElementTd(ticket)

                successMsg[0].parentElement.style.display = ""
                dangerMsg[0].parentElement.style.display = "none"

                successMsg[0].innerText = "Успешно создано."
                hiddenElemAfterTime("success",2)
            }
        }).fail(function (err) {
            successMsg[0].parentElement.style.display = "none"
            dangerMsg[0].parentElement.style.display = ""
            dangerMsg[0].innerHTML = err.responseJSON ? err.responseJSON.errorMessages : err.status+"-"+err.statusText
            hiddenElemAfterTime("dangerMsg",2)
        });
    }

    function edit() {
        var parameters = getParameters(categoryObject_select.val())
        var id = findElem('#modal #_id')
        if (!id) return

        var data = {
            _id: id.val(),
            type_ticket: type_ticket_select.val(),
            type_ticketName: type_ticket_select[0][type_ticket_select[0].selectedIndex].innerText,
            categoryObject: categoryObject_select.val(),
            categoryObjectName: categoryObject_select[0][categoryObject_select[0].selectedIndex].innerText,
            client: clients_select.val(),
            prioritet: prioritet_select.val(),
            parameters: JSON.stringify(parameters),
            _csrf: csrfToken
        }

        var settings = setSettings(url+"edit", data, "POST")
        $.ajax(settings).done(function(response) {
            var ticket = response.ticket
            $("#modal").modal("toggle")

            var findTicketTR = findElem("#typeTicket_"+ticket._id)
            if (findTicketTR) {
                findTicketTR[0].children.type_ticketName.innerText = ticket.type_ticketName
                findTicketTR[0].children.categoryObjectName.innerText = ticket.categoryObjectName
                findTicketTR[0].children.prioritet.innerText = ticket.prioritet
                findTicketTR[0].children.status_ticket.innerText = ticket.status_ticket
            }
            successMsg[0].parentElement.style.display = ""
            dangerMsg[0].parentElement.style.display = "none"

            successMsg[0].innerHTML = "Успешно изменена"
            hiddenElemAfterTime("success", 2)
        }).fail(function(err) {
            successMsg[0].parentElement.style.display = "none"
            dangerMsg[0].parentElement.style.display = ""
            dangerMsg[0].innerHTML = err.responseJSON ? err.responseJSON.message : err.status+"-"+err.statusText
            hiddenElemAfterTime("dangerMsg",2)
        })
    }

    function createClient() {

        var first_name_input = $("#first_name");
        var last_name_input = $("#last_name");
        var mobile_number1_input = $("#mobile_number1");
        var mobile_number2_input = $("#mobile_number2");
        var fix_number_input = $("#fix_number");
        var email_input = $("#email");
        var gender_select = $("#gender");
        var datetimepicker2_input = $("#datetimepicker2");
        var address_input = $("#address");
        var facebook_input = $("#facebook");
        var address_input = $("#address");
        var type_client_select = $("#type_client");
        var instagram_input = $("#instagram");

        var data = {
            first_name: first_name_input.val(),
            last_name: last_name_input.val(),
            mobile_number1: mobile_number1_input.val(),
            mobile_number2: mobile_number2_input.val(),
            fix_number: fix_number_input.val(),
            email: email_input.val(),
            gender: gender_select.val(),
            birthday: datetimepicker2_input.val(),
            address: address_input.val(),
            facebook: facebook_input.val(),
            type_client: type_client_select.val(),
            instagram: instagram_input.val(),
            _csrf: "{{csrfToken}}"
        };

        var settings = setSettings("/clients/api/create", data, "POST");

        $.ajax(settings).done(function (response) {
            if(response.client) {
                $('#modalAdd').modal('toggle');
                var option = new Option(response.client.first_name, response.client._id);
                option.selected = true;
                $("#clients").append(option);

                //очистка полей
                first_name_input.val("");
                last_name_input.val("");
                mobile_number1_input.val("");
                mobile_number2_input.val("");
                fix_number_input.val("");
                email_input.val("");
                address_input.val("");
                facebook_input.val("");
                instagram_input.val("");

            } else if (response.errorMessages) {
                console.log(response.errorMessages);
            }
        }).fail(function(err) {
            console.log(err);
        });
    }

    function getSelectionTickets() {
        var parameters = getParameters(categoryObject_select.val())
        var selectionTypeTicket = type_ticket_select[0][type_ticket_select[0].selectedIndex].attributes["selectionTypeTicket"].value
        var data = {
            parameters: JSON.stringify(parameters),
            type_ticket: selectionTypeTicket || type_ticket_select.val(),
            categoryObject: categoryObject_select.val(),
            _csrf: csrfToken
        }
        console.dir(type_ticket_select);

        var settings = setSettings(url+"selection", data, "POST");

        $.ajax(settings).done(function(response) {
            var tickets = response.tickets;

            selection[0].innerHTML="";

            for(var i=0; i<tickets.length; i++) {
                selection.append('<article class="panel panel-default" style="margin-top: 40px; margin-right:25px;">'+
                                '<div class="panel-body">'+
                                    '<a href="#" target="_blank">'+tickets[i].type_ticketName+'</a>'+
                                    '<hr/>'+
                                    '<p>'+tickets[i].categoryObjectName+'</p>'+
                                '</div>'+
                                '</article>');
            }
        }).fail(function(err) {
            console.log(err);
        });
    }

    $(".parametersInput").on("keyup", function() {
        getSelectionTickets();
    })

    $(".typeValidation").on("keyup", function(event) {
        var elem = event.target
        if(!elem) return console.log("Странно, мы не нашли элемент в котором было event=keyup")
        var nextErrorElement = elem.nextElementSibling
        if(!nextErrorElement) return console.log("Следующий элемент для элемента "+elem)
        switch(elem.attributes["typeData"].value) {
            case "string":
                if (/[^a-z^A-Z^а-я^А-Я]/.test(elem.value)){
                    console.log("Формат неправильный")
                    nextErrorElement.innerText = "Формат неправильный"
                    break
                }
                console.log("Valid")
                nextErrorElement.innerText = ""
                break
            case "number":
                if (/[^0-9]/.test(elem.value)) {
                    console.log("Формат неправильный")
                    nextErrorElement.innerText = "Формат неправильный"
                    break
                } 
                console.log("Valid")
                nextErrorElement.innerText = ""
                break
            default:
                console.log("typeData-неправильный приходить")

        }
    });

    function remove() {
        var id_input = $("#modal #_id")
        if (id_input.length == 0) return console.log("элемент с запросом '#modal #_id' не найдено")
        var dangerMsg = $("#modal #messages")
        if (dangerMsg.length == 0) return console.log("элемент с запросом '#modal #messages' не найдено")

        var data = {
            _id: id_input.val(),
            _csrf: csrfToken
        }

        var settings = setSettings(url+"delete", data, "DELETE")

        $.ajax(settings).done(function(response) {
            $('#modal').modal('toggle')

            $("#typeTicket_"+id_input.val()).remove()

            clearModalParameters("modal")

            successMsg[0].parentElement.style.display = ""
            dangerMsg[0].parentElement.style.display = "none"

            successMsg[0].innerText = "Успешно удалена."
            hiddenElemAfterTime("success",2)
        }).fail(function (err) {
            successMsg[0].parentElement.style.display = "none"
            dangerMsg[0].parentElement.style.display = ""

            dangerMsg[0].innerHTML = err.responseJSON ? err.responseJSON.errorMessages : err.status+"-"+err.statusText
            hiddenElemAfterTime("dangerMsg",2)
        })
    }

    function clickOnElemTr(id) {
        hiddenOrVisibleElements(['#modal #create'], ['#modal #edit', '#modal #remove']);
        setFields(id);
        getSelectionTickets();
    }

    function clearParameters() {
        var parameters = $(".parameters");
        for(var i=0; i<parameters.length; i++) {
            parameters[i].value="";
        }
    }

    function clickToCreate() {
        hiddenOrVisibleElements(['#modal #edit', '#modal #remove'], ['#modal #create']);
        clearParameters();
        getSelectionTickets();
    }

    $(document).ready(function() {
        visibleParametersOfCategory()
    })
</script>


