<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.6.3/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/select2/dist/css/select2.min.css"/>
    <link rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!-- ... -->
    <script type="text/javascript" src="/javascripts/JSLINQ_v2.10_SourcePlusExamples/scripts/JSLINQ-vsdoc.js"></script>
    <script type="text/javascript" src="/javascripts/JSLINQ_v2.10_SourcePlusExamples/scripts/JSLINQ.js"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/moment/locale/ru.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="/javascripts/select2-init.js"></script>
    <script type="text/javascript" src="/javascripts/ajax.settings.js"></script>
    <script type="text/javascript" src="/javascripts/globalF.js"></script>

</head>
<body>
{{> header }}
<div class="container">
    {{{body}}}
</div>

</body>
</html>
