<div class="container">
    <h2>{{title}}</h2>
    <div class="row">
        {{#if infoMessages}}
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{infoMessages}}
            </div>
        {{/if}}

        {{#if errorMessages}}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{errorMessages}}
            </div>
        {{/if}}

        {{#if successMessages}}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{successMessages}}
            </div>
        {{/if}}
        <form action="/clients/edit" method="post">

            <input type="hidden" id="_id" name="_id" value="{{client._id}}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="first_name">Имя:</label>
                        <input type="text"
                               class="form-control"
                               id="first_name"
                               name="first_name"
                               placeholder="Имя"
                               value="{{client.first_name}}"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="last_name">Фамилия:</label>
                        <input type="text"
                               class="form-control"
                               id="last_name"
                               name="last_name"
                               placeholder="Фамилия"
                               value="{{client.last_name}}"
                        />
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="mobile_number1">Мобильный номер 1:</label>
                        <input type="text"
                               class="form-control"
                               id="mobile_number1"
                               name="mobile_number1"
                               placeholder="Мобильный номер 1"
                               value="{{client.mobile_number1}}"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="mobile_number2">Мобильный номер 2:</label>
                        <input type="text"
                               class="form-control"
                               id="mobile_number2"
                               name="mobile_number2"
                               placeholder="Мобильный номер 2"
                               value="{{client.mobile_number2}}"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="fix_number">Фиксированный номер:</label>
                        <input type="text"
                               class="form-control"
                               id="fix_number"
                               name="fix_number"
                               placeholder="Фиксированный номер"
                               value="{{client.fix_number}}"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="email">Email:</label>
                        <input type="text"
                               class="form-control"
                               id="email"
                               name="email"
                               placeholder="Email"
                               value="{{client.email}}"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="gender">Пол:</label>
                        <select class="form-control" id="gender" name="gender">
                            {{#if client.gender}}
                                <option value="true" selected>Муж</option>
                                <option value="false">Жен</option>
                            {{else}}
                                <option value="true">Муж</option>
                                <option value="false" selected>Жен</option>
                            {{/if}}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="birthday">Дата рождения:</label>
                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text'
                                   class="form-control"
                                   name="birthday"
                            />
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker2').datetimepicker({
                                    locale: 'ru',
                                    focusOnShow: true,
                                    showTodayButton: true,
                                    showClear: true,
                                    widgetPositioning: {
                                        horizontal: 'right'
                                    },
                                    defaultDate: Date.now()
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="address">Адрес проживания:</label>
                        <input id="address"
                               class="form-control"
                               type="text"
                               name="address"
                               placeholder="Адрес проживания"
                               value="{{client.address}}"
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="facebook">Ссылки:</label>
                        <input id="facebook"
                               class="form-control"
                               type="text"
                               name="facebook"
                               placeholder="Facebook"
                               value="{{client.facebook}}"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="type_client">Тип клиента:</label>
                        <select class="form-control" id="type_client" name="type_client">
                            {{#each typeClients}}
                                {{#if this.selected}}
                                    <option name="type_client" value="{{this._id}}" selected>{{this.name}}</option>
                                {{else}}
                                    <option name="type_client" value="{{this._id}}">{{this.name}}</option>
                                {{/if}}
                            {{/each}}
                        </select>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input id="instagram"
                               class="form-control"
                               type="text"
                               name="instagram"
                               placeholder="Instagram"
                               value="{{client.instagram}}"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>