<h2>Клиенты</h2>
{{#if infoMessages}}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{infoMessages}}
    </div>
{{/if}}

{{#if errorMessages}}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{errorMessages}}
    </div>
{{/if}}

{{#if successMessages}}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{successMessages}}
    </div>
{{/if}}
<a href="create" class="btn btn-default">Создать новую</a>
<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Мобильный номер 1</th>
        <th>Мобильный номер 2</th>
        <th>Фиксированный номер</th>
        <th>Email</th>
        <th>Пол</th>
        <th>Дата рождения, возраст</th>
        <th>Адрес проживания</th>
        <th>Ссылки</th>
        <th>Тип</th>
        <th>Связи</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    {{# each clients}}
        <tr>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.mobile_number1}}</td>
            <td>{{this.mobile_number2}}</td>
            <td>{{this.fix_number}}</td>
            <td>{{this.email}}</td>
            <td>
                {{# if this.gender}}
                    <span>муж</span>
                {{else}}
                    <span>жен</span>
                {{/if}}
            </td>
            <td>{{this.birthday}}</td>
            <td>{{this.address}}</td>
            <td>
                {{this.facebook}}<br/>
                {{this.instagram}}<br/>
            </td>
            <td>{{this.type_client}}</td>
            <td></td>
            <td>
                <a href="/clients/edit/{{this._id}}" title="Редактировать">
                    <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
                </a>
                <a href="/clients/delete/{{this._id}}" title="Удалить">
                    <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {{/each}}

    </tbody>
</table>
