body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pointer {
  cursor: pointer;
}

.select2 {
  width: 100% !important;
}

.errorMsg {
  font-size: 11px;
  color: red
}