<h2>Типы заявок</h2>

    <div class="alert alert-dismissible alert-success" id="successMsg" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div id="messages"></div>
    </div>

<a href="#" 
    data-toggle="modal" 
    data-target="#modal" 
    class="btn"
    id="createNew"
>Создать</a>

<table class="table table-striped table-hover" id="typeTicketTable">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Тип заяки по которому будет подбор</th>
    </tr>
    </thead>
    <tbody>
    {{#each typeTickets}}
        <tr id="typeTicket_{{this._id}}" 
            class="pointer"
            data-toggle="modal"
            data-target="#modal"
            onclick="setFields('{{this._id}}', '{{this.name}}')"
        >
            <td>{{this.name}}</td>
            <td>{{this.selectionTypeTicketName}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>


<div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Типа заявка</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-dismissible alert-danger" id="dangerMsg" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div id="messages"></div>
                </div>

                <div class="form-group" id="fields">
                    <label class="control-label" for="name">Наименование:</label>
                    <input type="hidden" id="_id"/>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           placeholder="Наименование"
                    />
                    <br/>
                    <label class="control-label" for="selectionTypeTicket">Выберите подбирающий для него типы заявок(к примеру для типа Купить будет Покупать)</label>
                    <select class="form-control" id="selectionTypeTicket">
                            <option value="">Выберите</option>
                        {{#each typeTickets}}
                            <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="create()" id="create">Сохранить</button>
                <button type="button" class="btn btn-success" onclick="edit()" id="edit">Сохранить</button>
                <button type="button" class="btn btn-danger" onclick="remove()" id="remove">Удалить</button>
            </div>
        </div>
    </div>
</div>

<script>

    var csrfToken = '{{csrfToken}}';
    var url = "/type-tickets/";

    var idInput = $("#modal #fields #_id");
    var nameInput = $("#modal #fields #name");
    var selectionTypeTicketInput = $("#modal #fields #selectionTypeTicket");

    var successMsg = $("#successMsg #messages");
    var dangerMsg = $("#dangerMsg #messages");
    

    function setFields(id, name) {
        if(idInput.length == 0 || nameInput.length == 0 || !id || !csrfToken) return console.log("Параметры или токен приходит пустыми.");

        idInput.val(id);
        nameInput.val(name);

        hiddenOrVisibleElements(['#modal #create'], ['#modal #edit', '#modal #remove']);
    }

    function create() {
        var data = {
            name: nameInput.val(),
            selectionTypeTicket: selectionTypeTicketInput.val(),
            selectionTypeTicketName: selectionTypeTicketInput[0][selectionTypeTicketInput[0].selectedIndex].innerText,
            _csrf: csrfToken
        };

        var settings = setSettings(url+"create", data, "POST");

        $.ajax(settings).done(function (response) {
            if(response.typeTicket) {
                var typeTicket = response.typeTicket;
                $('#modal').modal('toggle');

                //очистка полей
                nameInput.val("");

                $("#typeTicketTable").append(
                        '<tr id="typeTicket_'+typeTicket._id+'"'+
                            'class="pointer"'+ 
                            'onclick="setFields(\''+typeTicket._id+'\',\''+typeTicket.name+'\')"'+
                            'data-toggle="modal"'+
                            'data-target="#modal"'+
                        '>'+
                            '<td>'+typeTicket.name+'</td>'+
                            '<td>'+typeTicket.selectionTypeTicketName+'</td>'+
                        '</tr>'
                );

                successMsg[0].parentElement.style.display = "";
                dangerMsg[0].parentElement.style.display = "none";

                successMsg[0].innerText = "Успешно создано.";

                hiddenElemAfterTime("successMsg", 2);

            }
        }).fail(function(err) {
            successMsg[0].parentElement.style.display = "none";
            dangerMsg[0].parentElement.style.display = "";

            dangerMsg[0].innerHTML = err.responseJSON.errorMessages || err;
            hiddenElemAfterTime("dangerMsg", 2);
        });
    }

    function edit() {
        if (idInput.length==0 || nameInput.length==0 || !csrfToken) return console.log("idInput или nameInput или токен csrf не валидные.");

        var data = {
            _id: idInput.val(),
            name: nameInput.val(),
            selectionTypeTicket: selectionTypeTicketInput.val(),
            selectionTypeTicketName: selectionTypeTicketInput[0][selectionTypeTicketInput[0].selectedIndex].innerText,
            _csrf: csrfToken
        }

        var settings = setSettings(url+"edit", data, "POST");
        $.ajax(settings).done(function(response) {
            var typeTicket = response.typeTicket || null;
            console.log(response);
            if (!typeTicket) {
                dangerMsg[0].innerText = "500. Ошибка сервера. Обратитесь пожалуйста к разработчикам сайта.";

                successMsg[0].parentElement.style.display = "none";
                dangerMsg[0].parentElement.style.display = "";
                return console.log("500. Ошибка сервера. сервер ничего не возвратил.");
            }

            var nameTd = $("#typeTicket_"+typeTicket._id);
            if (nameTd.length == 0) return console.log("Элемент успешно сохранился, но html элемент c id=typeTicket_"+typeTicket._id+" не найдено.");

            nameTd[0].children[0].innerText = typeTicket.name ||" ";
            nameTd[0].children[1].innerText = typeTicket.selectionTypeTicketName ||" ";

            $("#modal").modal("toggle");
            successMsg[0].innerText = "Успешна изменена.";
            successMsg[0].parentElement.style.display = "";
            dangerMsg[0].parentElement.style.display = "none";

            hiddenElemAfterTime("successMsg", 2);

        }).fail(function(err) {
            dangerMsg[0].innerHTML = err.responseJSON ? err.responseJSON.errorMessages : err.status+"-"+err.statusText;
            successMsg[0].parentElement.style.display = "none";
            dangerMsg[0].parentElement.style.display = "";

            hiddenElemAfterTime("dangerMsg", 2);
        });
    }

    function remove(){
        var data = {
            _id: idInput.val(),
            _csrf: csrfToken
        };

        var settings = setSettings(url+"delete", data, "DELETE");

        $.ajax(settings).done(function(response) {
            $("#typeTicket_"+data._id).remove();

            $('#modal').modal('toggle');

            successMsg[0].parentElement.style.display = "";
            dangerMsg[0].parentElement.style.display = "none";

            successMsg[0].innerText = "Успешно удалена.";

            hiddenElemAfterTime("successMsg", 2);
        }).fail(function (err) {
            console.log(err);
            successMsg[0].parentElement.style.display = "none";
            dangerMsg[0].parentElement.style.display = "";

            dangerMsg[0].innerHTML = err.responseJSON.errorMessages;
            hiddenElemAfterTime("dangerMsg", 2);
        });
    }

    $("#createNew").click(function() {
        clearFieldsValue(['#modal #_id', '#modal #name']);
        hiddenOrVisibleElements(['#modal #edit', '#modal #remove'], ['#modal #create']);
    });

</script>