<h2>Категория заявок</h2>

<div class="alert alert-success alert-dismissible" id="success" style="display: none;">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <div id="messages"></div>
</div>

<a href="#" data-toggle="modal" data-target="#modalCreate" class="btn" onclick="clearModalParameters('modalCreate')">Создать</a>

<table class="table table-striped table-hover" id="table">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Параметры</th>
    </tr>
    </thead>
    <tbody>
        {{#each categoriesObject}}
            <tr id="categoryObject_{{this._id}}"
                class="pointer"
                onclick="setField('{{this._id}}')"
                data-toggle="modal"
                data-target="#modalEditDelete">
                <td id="name">{{this.name}}</td>

                <td id="parametersTd">
                    {{#each this.parameters}}
                        <div class="parametersDiv">
                            <span id="name"><strong>{{this.name}}</strong></span>
                            <span id="value">{{this.value}}</span><br/>
                        </div>
                    {{/each}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="modal" id="modalCreate">
    <div class="modal-dialog" style="width:85%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Добавление категория объекта</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-dismissible alert-danger" id="dangerMsg" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div id="messages"></div>
                </div>

                <label class="control-label" for="name">Наименование:</label>
                <input type="text"
                       class="form-control"
                       name="name"
                       id="name"
                       placeholder="Наименование"/>
                <hr/>

                <h5>Параметры: <i class="pointer fa fa-plus-square-o" aria-hidden="true" onclick="addParameter('modalCreate')"></i></h5>

                <div id="parameters">
                    <div id="parameter_1" class="parameters row">
                        <div class="col-lg-4">
                            <label class="control-label" for="name">Наименование:</label>
                            <input type="text"
                                   class="form-control"
                                   name="name"
                                   id="name"
                                   placeholder="Наименование"
                            />
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label" for="typeData">Укажите тип даных:</label>
                            <select class="form-control" id="typeData">
                                <option value="string">Строка</option>
                                <option value="number">Число</option>
                                <option value="date">Дата</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <label class="control-label" for="typeField">Укажите тип поля:</label>
                            <select class="form-control" id="typeField" name="typeField">
                                <option value="input">Текстовое поле</option>
                                <option value="textarea">Большое текстовое поле</option>
                                <option value="select">Список</option>
                            </select>
                        </div>
                        <div class="col-lg-1" style="padding-top: 27px">
                            <i class="pointer fa fa-trash-o fa-2x" aria-hidden="true" onclick="delParameter(1)"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="create()">Добавить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalEditDelete">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Рекактирование/Удаления категория объекта</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-dismissible alert-danger" id="dangerMsg" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div id="messages"></div>
                </div>

                <div class="form-group" id="body">
                    <label class="control-label" for="name">Наименование:</label>
                    <div id="fields">
                        <input type="hidden" name="_id" id="_id"/>
                        <input type="text"
                               class="form-control"
                               placeholder="Наименование"
                               id="name"
                               name="name"
                        />
                    </div>
                    <hr/>

                    <h5>Параметры: <i class="pointer fa fa-plus-square-o" aria-hidden="true" onclick="addParameter('modalEditDelete')"></i></h5>

                    <div id="parameters">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-success" onclick="edit()">Рекактировать</button>
                <button type="button" class="btn btn-primary" onclick="remove()">Удалить</button>
            </div>
        </div>
    </div>
</div>

<script>
    var csrfToken = "{{csrfToken}}";
    var url = "/categories-object/";
    var successMsg = $("#success #messages");


    function setField(id) {
        var nameTd = $("#categoryObject_"+id+" #name");
        var idInput = $("#modalEditDelete #fields #_id");
        var nameInput = $("#modalEditDelete #fields #name");

        if(idInput.length == 0 || nameInput.length == 0 || nameTd.length == 0 || !id || !csrfToken) return;

        idInput.val(id);
        nameInput.val(nameTd[0].innerText);

        clearModalParameters("modalEditDelete");

        var parameters = $("#categoryObject_"+id+" .parametersDiv");
        if(parameters.length == 0) return;
        for(var i=0; i<parameters.length; i++) {
            addParameter("modalEditDelete", parameters[i].children[0].innerText, parameters[i].children[1].innerText);
        }
    }

    function addParameter(idModal, nameVal, valueVal) {
        var parametersDiv = $("#"+idModal+" #parameters");
        if(parametersDiv.length==0) return;

        var id = 1;
        var lastChild = parametersDiv;
        if(lastChild && lastChild.lastElementChild) {
            var arrId = lastChild.id.split('_');
            if (arrId.length>1) id = parseInt(arrId[1])+1;
        }
        nameVal = nameVal || "";
        valueVal = valueVal || "";
        parametersDiv.append('<div id="parameter_'+id+'" class="parameters row">'+
                                '<div class="col-lg-3">'+
                                    '<label class="control-label" for="name">Наименование:</label>'+
                                    '<input type="text"'+
                                            'class="form-control"'+
                                            'name="name"'+
                                            'id="name"'+
                                            'value="'+nameVal+'"'+
                                            'placeholder="Наименование"'+
                                    '/>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<label class="control-label" for="typeData">Укажите тип даных:</label>'+
                                    '<select class="form-control" id="typeData">'+
                                        '<option value="string">Строка</option>'+
                                        '<option value="number">Число</option>'+
                                        '<option value="date">Дата</option>'+
                                    '</select>'+
                                '</div>'+
                                '<div class="col-lg-2">'+
                                    '<label class="control-label" for="typeField">Укажите тип поля:</label>'+
                                    '<select class="form-control" id="typeField" name="typeField" onchange="visibleListDiv(\'modalCreate\')">'+
                                        '<option value="input">Текстовое поле</option>'+
                                        '<option value="textarea">Большое текстовое поле</option>'+
                                        '<option value="select">Список</option>'+
                                    '</select>'+
                                '</div>'+
                                '<div class="col-lg-3" id="listDiv" style="display: none">'+
                                    '<label class="control-label" for="name">Заполните список:</label>'+
                                    '<div class="input-group">'+
                                                '<input type="text"'+
                                                    'class="form-control"'+
                                                    'name="nameList"'+
                                                    'id="nameList"'+
                                                    'value="'+nameVal+'"'+
                                                    'placeholder="Наименование"'+
                                                '/>'+
                                                '<div class="input-group-btn">'+
                                                    '<button class="btn btn-default" onclick="addSelecListField(\'modalCreate\')">Добавить</button>'+
                                                '</div>'+
                                            '</div>'+
                                            '<select class="form-control" id="list" name="list">'+
                                            '</select>'+
                                '</div>'+
                                '<div class="col-lg-1" style="padding-top: 27px">'+
                                    '<i class="pointer fa fa-trash-o fa-2x" aria-hidden="true" onclick="delParameter('+id+')"></i>'+
                                '</div>'+
                            '</div>');
    }

    function visibleListDiv(idModal) {
        var typeField = $("#"+idModal+" #typeField")
        if (typeField.length == 0) return "Элемент с запросом #"+idModal+" #typeField не найдено"
        
        var listDev = $("#"+idModal+" #listDiv")
        if (listDev.length==0) return "Элемент с запросом '#"+idModal+" #listDiv' не найдено"
        if(typeField.val() == "select") {
            listDev[0].style.display = ""
        } else {
            listDev[0].style.display = "none"
        }
    }

    function addSelecListField(idModal) {
        var input = $("#"+idModal+" #nameList");
        if (input.length==0) return console.log("Элемент с запросом #"+idModal+" #nameList не найдено.")
        var option = new Option(input.val(), input.val());
        option.selected = true;
        $("#"+idModal+" #list").append(option);
        input.val("");
    }

    function delParameter(id) {
        var parameterDiv = $("#parameter_"+id);
        if(!parameterDiv) return;

        parameterDiv.remove();
    }

    function getParameters(idModal) {
        var parametersData = [];
        var parameters = $("#"+idModal+" .parameters");

        if (parameters.length==0) return parametersData;

        for(var i=0; i<parameters.length; i++) {
            
            var name=parameters[i].children[0].children[1].value;
            var typeData=parameters[i].children[1].children[1].value;
            var typeField=parameters[i].children[2].children[1].value;
            
            var selectList = parameters[i].children[3].children[2].value;

            if(name || name!="") parametersData.push({name: name, value: '', typeData: typeData, typeField: typeField});
        }

        return parametersData;
    }

    function addElementTd(categoryObject) {
        var parameters = "";
        for(var i=0; i<categoryObject.parameters.length; i++) {
            parameters+="<div class='parametersDiv'>" +
                    "<span id='name'><strong>"+categoryObject.parameters[i].name+"</strong></span>" +
                    "<span id='value'>"+categoryObject.parameters[i].value+"</span><br/>" +
                    "</div>";
        }
        $("#table").append(
                '<tr id="categoryObject_'+categoryObject._id+'" class="pointer"'+
                    'onclick="setField(\''+categoryObject._id+'\')"'+
                    'data-toggle="modal"'+
                    'data-target="#modalEditDelete">'+
                    '<td id="name">'+categoryObject.name+'</td>'+
                    '<td id="parametersTd">'+parameters+'</td>'+
                '</tr>'
        );
    }

    function create() {
        var name_input = $("#modalCreate #name");
        var dangerMsg = $("#modalCreate #dangerMsg #messages");

        var parameters = getParameters('modalCreate');
        var data = {
            name: name_input.val(),
            parameters: JSON.stringify(parameters),
            _csrf: csrfToken
        };

        var settings = setSettings(url+"create", data, "POST");

        $.ajax(settings).done(function(response) {
            var categoryObject = response.categoryObject;
            if (categoryObject) {
                $("#modalCreate").modal("toggle");

                //очистка полей
                name_input.val("");

                addElementTd(categoryObject);

                successMsg[0].parentElement.style.display = "";
                dangerMsg[0].parentElement.style.display = "none";

                successMsg[0].innerText = "Успешно создано.";
            }
        }).fail(function (err) {
            successMsg[0].parentElement.style.display = "none";
            dangerMsg[0].parentElement.style.display = "";
            dangerMsg[0].innerHTML = err.responseJSON ? err.responseJSON.errorMessages : err.status+"-"+err.statusText;
        });
    }

    function edit() {
        var id_input = $("#modalEditDelete #_id");
        var name_input = $("#modalEditDelete #name");
        var dangerMsg = $("#modalEditDelete #messages");

        var parameters = getParameters('modalEditDelete');
        var data = {
            _id: id_input.val(),
            name: name_input.val(),
            parameters: JSON.stringify(parameters),
            _csrf: csrfToken
        };

        var settings = setSettings(url+"edit", data, "POST");

        $.ajax(settings).done(function(response) {
            var categoryObject = response.categoryObject;
            $('#modalEditDelete').modal('toggle');

            //очистка полей в модальном окне
            name_input.val("");
            id_input.val("");

            //изменяем занные в таблице
            var parameters = "";
            for(var i=0; i<categoryObject.parameters.length; i++) {
                parameters+="<div class='parametersDiv'>" +
                        "<span id='name'><strong>"+categoryObject.parameters[i].name+"</strong></span>" +
                        "<span id='value'>"+categoryObject.parameters[i].value+"</span><br/>" +
                        "</div>";
            }

            $("#table #categoryObject_"+data._id+" #name")[0].innerText = categoryObject.name;
            $("#table #categoryObject_"+data._id+" #parametersTd")[0].innerHTML = parameters;

            successMsg[0].parentElement.style.display = "";
            dangerMsg[0].parentElement.style.display = "none";

            successMsg[0].innerText = "Успешно изменена.";
        }).fail(function (err) {
            successMsg[0].parentElement.style.display = "none";
            dangerMsg[0].parentElement.style.display = "";

            dangerMsg[0].innerHTML = err.responseJSON ? err.responseJSON.errorMessages : err.status+"-"+err.statusText;
        });
    }

    function remove() {
        var id_input = $("#modalEditDelete #_id");
        var dangerMsg = $("#modalEditDelete #messages");
        var data = {
            _id: id_input.val(),
            _csrf: csrfToken
        };

        var settings = setSettings(url+"delete", data, "DELETE");

        $.ajax(settings).done(function(response) {
            $('#modalEditDelete').modal('toggle');

            $("#categoryObject_"+id_input.val()).remove();

            clearModalParameters("modalEditDelete");

            successMsg[0].parentElement.style.display = "";
            dangerMsg[0].parentElement.style.display = "none";

            successMsg[0].innerText = "Успешно удалена.";
        }).fail(function (err) {
            successMsg[0].parentElement.style.display = "none";
            dangerMsg[0].parentElement.style.display = "";

            dangerMsg[0].innerHTML = err.responseJSON ? err.responseJSON.errorMessages : err.status+"-"+err.statusText;
        });
    }

    function clearModalParameters(idModal) {
        var parametersDiv = $("#"+idModal+" #parameters");
        parametersDiv[0].innerHTML="";
        addParameter(idModal);
    }

</script>